/*背景开始*/
body {
    width: 7.5rem;
    height: 13.34rem;
    overflow: hidden;
}

.bj {
    background: url("../img/lhbj1.jpg") no-repeat center center;
    background-size: 100%;
    width: 7.5rem;
    height: 7.72rem;
    position: relative;
}

.bj1 {
    background: url("../img/lhbj1.jpg") no-repeat left 0rem;
    background-size: 100%;
    width: 7.5rem;
    height: 5.95rem;
    position: relative;
}

.lhfanhuijian {
    border-radius: 50%;
    width: .55rem;
    height: .55rem;
    position: absolute;
    top: .65rem;
    left: .3rem;
    background: #22be6f;
}

.lhfanhuijian a {
    width: .55rem;
    height: .55rem;
    float: left;
}

.lhfanhuijian img {
    width: .55rem;
    height: .55rem;
    display: block;
}

.dayuan {
    border-radius: 50%;
    width: 3.96rem;
    height: 3.96rem;
    background: rgba(23, 99, 109, 0.5);
    margin-top: .88rem;
    margin-right: 1.78rem;
    margin-left: 1.78rem;
    float: left;
}

.xiaoyuan {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background: rgba(24, 122, 96, 0.6);
    margin: .48rem;
    position: relative;
}

.touxiang {
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: .36rem;
    left: .36rem;
    top: .36rem;
    bottom: .36rem;
    margin: 0 auto;
}

/*.touxiang1{*/
/*border-radius:50% ;*/
/*width: 2rem;*/
/*height: 2rem;*/
/*background: rgba(255, 255, 255, 0);*/
/*position: absolute;*/
/*right: .15rem;*/
/*left: .15rem;*/
/*top:.15rem;*/
/*bottom: .15rem;*/
/*margin: 0 auto;*/
/*}*/
#touxiang {
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 50%;
    right: .15rem;
    left: .15rem;
    top: .15rem;
    bottom: .15rem;
    margin: 0 auto;
}

.xiamian {
    width: 7.5rem;
    float: left;
    background: #f6f6f6;
    height: 7.39rem;
}
.lhh{
    padding-top: .46rem;
    background: #fff;
}
.denglu {
    position: relative;
}

.denglukuang {
    height: .9rem;
    margin-top: .78rem;
    width: 6.12rem;
    margin-left: .72rem;
    background: red;
    position: relative;
}

#denglu {
    height: 100%;
    position: absolute;
    left: 0rem;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #169354;
    border: none;
    color: #fff;
    font-size: .4rem;
}

.zhucekuang {
    height: .9rem;
    margin-top: .31rem;
    width: 6.12rem;
    margin-left: .72rem;
    background: red;
    position: relative;
}

#zhuce {
    height: 100%;
    position: absolute;
    left: 0rem;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #169354;
    border: none;
    color: #fff;
    font-size: .4rem;
}

.fenge {
    width: 2.22rem;
    height: .02rem;
    background: #999;
    margin-top: .72rem;
    margin-left: .7rem;
    float: left;
}

.sanfang {
    font-size: .18rem;
    color: #999;
    margin-top: .6rem;
    float: left;
    margin-left: .25rem;
}

.fenge1 {
    width: 2.22rem;
    height: .02rem;
    background: #999;
    margin-top: .72rem;
    margin-right: .7rem;
    float: right;
}

.weixin {
    margin-top: .52rem;
    width: 3.02rem;
    height: .92rem;
    margin-left: .7rem;
    background: #169354;
    float: left;
    position: relative;
}

.weixina {
    width: 3.02rem;
    height: .92rem;

}

.weixina img {
    width: 3.02rem;
    height: .92rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.qq {
    margin-top: .52rem;
    width: 3.02rem;
    height: .92rem;
    margin-left: .12rem;
    background: #169354;
    float: left;
    position: relative;
}

.qqa {
    width: 3.02rem;
    height: .92rem;

}

.qqa img {
    width: 3.02rem;
    height: .92rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.lhbeijing {
    width: 7.5rem;
    height: 13.34rem;
    background: url("../img/lhzhucebj.jpg") no-repeat center;
    background-size: cover;
}

.lhzhezhao {
    width: 7.5rem;
    height: 13.34rem;
    background: rgba(0, 0, 0, 0.5);
}

.lhtoubu {
    height: .4rem;
    width: 100%;
    margin-top: .72rem;
    float: left;
}

.lhfanhui {
    margin-left: .24rem;
    width: .4rem;
    float: left;
    height: .4rem;
}

.lhfanhui a {
    width: .4rem;
    height: .4rem;
    float: left;
}

.lhfanhui img {
    width: .4rem;
    height: .4rem;
    margin-top: -.2rem;
    display: block;
}

.lhzhucezi {
    margin-right: 3.46rem;
    width: .6rem;
    height: .4rem;
    float: right;
    margin-top: -.2rem;
}

.lhzhucezi1 {
    font-size: .28rem;
    line-height: .4rem;
    color: #fff;
    float: left;
    font-weight: 900;
}

.lhbuzhou {
    width: 7.5rem;
    height: .48rem;
    float: left;
    position: relative;
    margin-top: .64rem;
}

.lhbuzhou1 {
    width: .58rem;
    height: .48rem;
    background: url("../img/lh1.png") no-repeat center;
    background-size: 100%;
    margin-left: 1.13rem;
}

.lhbuzhou1 span {
    font-size: .3rem;
    color: #169354;
    display: block;
    padding-left: .15rem;
    padding-top: .06rem;
    font-weight: 900;
}

.lhbuzhou2 span {
    font-size: .3rem;
    color: #169354;
    display: block;
    padding-left: .15rem;
    padding-top: .06rem;
    font-weight: 900;
}

.lhbuzhou3 span {
    font-size: .3rem;
    color: #169354;
    display: block;
    padding-left: .15rem;
    padding-top: .06rem;
    font-weight: 900;
}

.lhbuzhouhenggan {
    width: 2.3rem;
    height: .02rem;
    background: #fff;
    position: absolute;
    left: 1.6rem;
    top: .29rem;
}

.lhbuzhou2 {
    width: .48rem;
    height: .48rem;
    position: absolute;
    left: 2.44rem;
    top: 0;
    border-radius: 50%;
    background: #fff;
    float: left;
}

.lhbuzhou3 {
    width: .48rem;
    height: .48rem;
    position: absolute;
    left: 3.78rem;
    top: 0;
    border-radius: 50%;
    background: #fff;
    float: left;
}

.lhzimu {
    height: .16rem;
    width: 7.5rem;
    margin-top: .11rem;
    padding-left: .82rem;
    float: left;
}

.lhzimu span {
    font-size: .14rem;
    font-weight: 900;
    color: #fff;
    display: block;
}

.lhzimu2 {
    height: .16rem;
    width: 7.5rem;
    margin-top: .11rem;
    padding-left: 1.92rem;
    float: left;
}

.lhzimu2 span {
    font-size: .14rem;
    font-weight: 900;
    color: #fff;
    display: block;
}

.lhzimu3 {
    height: .16rem;
    width: 7.5rem;
    margin-top: .11rem;
    padding-left: 3.12rem;
    float: left;
}

.lhzimu3 span {
    font-size: .14rem;
    font-weight: 900;
    color: #fff;
    display: block;
}

.lhdakuang {
    width: 5.54rem;
    height: 9.27rem;
    margin-top: .2rem;
    margin-left: .66rem;
    background: #fff;
    float: left;
    position: relative;
}

.lhzhucezhanghaozi {
    margin-top: .52rem;
    margin-left: .24rem;
    width: 1.2rem;
    height: .28rem;
}

.lhzhucezhanghaozi span {
    font-size: .28rem;
    color: #169354;
    line-height: .28rem;
    float: left;
}

.lhzhucezhanghaozimu {
    margin-left: .24rem;
    height: .16rem;
    margin-top: .15rem;
}

.lhzhucezhanghaozimu span {
    font-size: .14rem;
    color: #169354;
    line-height: .14rem;
    float: left;
}

.lhzhucezhanghaohengang {
    margin-top: .14rem;
    margin-left: .24rem;
    width: .62rem;
    height: .06rem;
    background: #169354;
}

.lhzhanghaomima {
    margin-top: .88rem;
    height: .23rem;
    width: 100%;
    float: left;
}

.lhzhanghaomima {
    font-size: .23rem;
    line-height: .23rem;
    text-align: center;
    color: #333;
    font-weight: 900;
}

.lhzhanghaomimazimu {
    position: absolute;
    height: .35rem;
    top: 2.5rem;
    left: 2.22rem;
    font-size: .23rem;
    line-height: .23rem;
    text-align: center;
    color: #999;
    font-weight: 900;
}

.lhzhanghaomimafenge {
    position: absolute;
    top: 2.79rem;
    left: 1.38rem;
    height: 0.06rem;
    text-align: center;
    font-size: .06rem;
    color: #999;
}

.lhzhanghaoinput {
    margin-top: .34rem;
    width: 3.70rem;
    height: .55rem;
    position: absolute;
    top: 3.18rem;
    left: .93rem;
    border-bottom: .01rem solid red;
}

.lhzhanghaoimg {
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 0;
    float: left;
    left: 0;
    display: block;
}

.lhzhanghaoinput img {
    width: .5rem;
    height: .5rem;

    display: block;
    float: left;
}

.lhshuruzhanghao {
    width: 3rem;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: .5rem;
    display: block;
    border-style: hidden;
}

.lhmimainput {
    margin-top: .34rem;
    width: 3.70rem;
    height: .55rem;
    position: absolute;
    top: 4rem;
    left: .93rem;
    border-bottom: .01rem solid red;
}

.lhmimainput1 {
    margin-top: .34rem;
    width: 3.70rem;
    height: .55rem;
    position: absolute;
    top: 4.86rem;
    left: .93rem;
    border-bottom: .01rem solid red;
}

.lhmimainput2 {
    margin-top: .34rem;
    width: 3.70rem;
    height: .55rem;
    position: absolute;
    top: 5.74rem;
    left: .93rem;
    border-bottom: .01rem solid red;
}

.lhmimainputimg {
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 0;
    float: left;
    left: 0;
    display: block;
}

.lhmimainputimg1 {
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 0;
    float: left;
    left: 0;
    display: block;
}

.lhmimainput img {
    width: .5rem;
    height: .5rem;

    display: block;
    float: left;
}

.lhmimainput1 img {
    width: .5rem;
    height: .5rem;
    display: block;
    float: left;
}

.lhmimaimg {
    width: .48rem;
    height: .48rem;
    border-radius: 50%;
    background: #fbb612;

}

.lhmimaimg img {
    width: .24rem;
    height: .24rem;
    margin: .12rem;
}

.lhmimaimg1 {
    width: .48rem;
    height: .48rem;
    border-radius: 50%;
    background: #fbb612;

}

.lhmimaimg1 img {
    width: .24rem;
    height: .24rem;
    margin: .12rem;
}

.lhmimaimg2 {
    width: .48rem;
    height: .48rem;
    border-radius: 50%;
    background: #fbb612;
}

.lhmimaimg2 img {
    width: .24rem;
    height: .24rem;
    margin: .12rem;
    display: block;
    float: left;
}

.lhshurumima {
    width: 3rem;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: .5rem;
    display: block;
    border-style: hidden;
}

.lhshurumima1 {
    width: 3rem;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: .5rem;
    display: block;
    border-style: hidden;
}

.lhcuowutishi {
    width: 2.51rem;
    height: .21rem;
    position: absolute;
    top: 5.89rem;
    left: 1.34rem;
}

.lhcuowutishi span {
    font-size: .15rem;
    color: red;
    float: left;
    font-weight: 900;
}

.lhyuedu {
    width: 3.5rem;
    height: .28rem;
    position: absolute;
    top: 5.8rem;
    left: 1.5rem;
}

.lhyuedu input[type=checkbox] {
    border-radius: 50%;
}

.lhyuedu span {
    font-size: .18rem;
    color: #555;
}

.lhnext {
    width: 4.38rem;
    height: .96rem;
    background: #169354;
    position: absolute;
    bottom: -.49rem;
    right: -.85rem;
    background: red;
}

#lhnext {
    width: 4.38rem;
    background: #169354;
    height: .96rem;
    border: 0;
    color: #fff;
    font-size: .2rem;
    font-weight: 900;
    display: block;
}

.lhimgnext {
    width: .33rem;
    height: .33rem;
    position: absolute;
    top: .31rem;
    left: 2.66rem;
}

.lhimgnext img {
    display: block;
    width: .33rem;
    height: .33rem;
}

.lhdianhuakuang {
    height: .8rem;
    width: 7.5rem;
}

.lhdianhuainput {
    margin-left: .7rem;
    height: .8rem;
    width: .8rem;
    float: left;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0rem 0rem 0.2rem 0rem rgba(0,0,0,0.5);
    position: relative;
}

.lhdianhuainput img {
    height: .8rem;
    width: .8rem;
    display: block;
}

.lhinput1 {
    width: 4rem;
    height: .8rem;
    border: none;
    display: block;
    float: left;
    margin-left: .42rem;
    border-radius: .5rem;
    padding-left: .5rem;
    background: #f6f6f6;
    border: .01rem solid #d4d4d4;
}
#lhinput1-error{
    width: .8rem;
    color: red;
    float: left;
    height: .8rem;
    line-height: .4rem;
    font-size: .2rem;
}
.lhyanzhengma {
    height: .8rem;
    width: 7.5rem;
    margin-top: .37rem;
}

.lhyanzhengmainput {
    margin-left: .7rem;
    height: .8rem;
    width: .8rem;
    float: left;
    border-radius: .5rem;
    background: #fff;
    position: relative;
    box-shadow: 0rem 0rem 0.2rem 0rem rgba(0,0,0,0.5);
}

.lhyanzhengmainput img  {
    width: .8rem;
    height: .8rem;
    display: block;
}

.lhyanzhengma1 {
    width: 4rem;
    height: .8rem;
    border: none;
    display: block;
    float: left;
    background: #f6f6f6;
    border: .01rem solid #d4d4d4;
    margin-left: .42rem;
    border-radius: .5rem;
    padding-left: .5rem;
}
#lhyanzhengma1-error{
    width: .8rem;
    color: red;
    float: left;
    height: .8rem;
    line-height: .4rem;
    font-size: .2rem;
}
.lhhenggangdenglu {
    margin-top: .2rem;
    width: 7.5rem;
    height: .07rem;
    background: #fbb612;
}

.lhwangjimima {
    width: 7.5rem;
    height: .24rem;
    margin-top: .3rem;
    padding-right: .86rem;
}

.lhwangjimima a {
    font-size: .25rem;
    float: right;
    color: red;
}

#lhdianji {
    background: url("../img/lhdenglukuang.png") no-repeat center;
    background-size: 100%;
    width: 7.5rem;
    height: .92rem;
    margin-top: -.12rem;
}

.lhyoucezi {
    width: 1.44rem;
    height: .77rem;
    background: #169354;
    position: absolute;
    top: .22rem;
    right: -.93rem;
}

.lhyoucehengan {
    width: .68rem;
    height: .05rem;
    margin-top: .31rem;
    margin-left: .5rem;
    background: #fff;
}

.lhyoucezier {
    width: .22rem;
    height: 2rem;
    position: absolute;
    right: .15rem;
    top: .48rem;
}

.lhyoucezier img {
    width: .22rem;
    height: 2rem;
}

.lhnextzi {
    width: .2rem;
    height: 1.88rem;
    position: absolute;
    right: .18rem;
    bottom: .53rem;

}

.lhnextzi img {
    width: .2rem;
    height: 1.88rem;
}

.lhtouxiangzi {
    height: .29rem;
    margin-left: .25rem;
    margin-top: .19rem;
}

.lhtouxiangzi span {
    font-size: .29rem;
    line-height: .29rem;
    text-align: left;
    display: block;
    color: #169354;
}

.lhtouxiangtupian {
    width: 3rem;
    height: 3rem;
    margin-left: 1.23rem;
    margin-top: .9rem;
}

.lhtouxiangtupian img {
    width: 3rem;
    height: 3rem;
}

.lhtouxiangtupian1 {
    display: block;
}

input.error{
    /*表单的变化*/
    border: 1px solid red;
}

label.error{
    /*提示的变化*/
    width: .8rem;
    color: red;
    float: left;
    height: .8rem;
    line-height: .4rem;
    font-size: .2rem;
}