
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1499615706526'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1499615706526#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1499615706526') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1499615706526') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1499615706526#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:0.20rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ren:before { content: "\e603"; }

.icon-shouye:before { content: "\e634"; }

.icon-gouwudai:before { content: "\e638"; }

.icon-yifu:before { content: "\e600"; }

