body{
    background: #2A2E36;
}
header{
    width:100%;
    height:1.02rem;
    background:#169354;
    position:fixed;
    left: 0;
    top:0;
    z-index: 10;
}
.back,.more{
    width:0.55rem;
    height:0.55rem;
    background:#22be6f;
    border-radius:50%;
    float:left;
    margin-top:0.24rem;
    margin-left:0.24rem;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
    position:relative;
    cursor: pointer;
}
.back img{
    width:0.39rem;
    height:0.39rem;
    position:absolute;
    top:0;bottom:0;
    right:0;left:0;
    margin:auto;
}
header .more{
    float:right;
    margin:0.24rem;
}
.more .dian{
    width:0.09rem;
    height:0.09rem;
    background:#fff;
    border-radius: 50%;
    float:left;
    margin-right:0.04rem;
    margin-top:0.23rem;
}
.more .dian:first-child{
    margin-left:0.1rem;
}
.title{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:1.02rem;
}
.title .t1{
    color:#1f468d;
    font-family: "苹方 特粗";
    font-size: 0.3rem;
    text-align: center;
    margin-top:0.23rem;
    font-weight: bold;
}
.title .t2{
    color:#fff;
    font-family: "苹方 特粗";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
    position:absolute;
    top:0.23rem;
    left:0;right:0;
    margin:auto;
    margin-left:-0.08rem;
}
.title .t3{
    color:#1f468d;
    position: absolute;
    left: 0;
    right: 0;
    top:0.6rem;
    margin: auto;
    margin-top: 0.01rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
}
.title .t4{
    color:#fff;
    bottom:0.05rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
    position:absolute;
    left:0;right:0;
    top:0.6rem;
    margin:auto;
    margin-left:-0.08rem;
}

.con{
    width: 100%;
    height:10.93rem;
    position: relative;
}
.con-main{
    width:5.2rem;
    height:7.8rem;
    margin: 1.2rem auto;
    background: #fff;
}
.hd{
    width:1.44rem;
    height: 0.76rem;
    background: #169354;
    position: absolute;
    right: 0.24rem;
    top:0.2rem;
}
.bait{
    width:0.7rem;
    height:0.06rem;
    position: absolute;
    left: 0.4rem;
    top:0.3rem;
    background: #fff;
}
.wenzi{
    width:0.22rem;
    height:3.6rem;
    position: absolute;
    top:0.76rem;
    right: 0.36rem;
    color: #fff;
    font-size: 0.22rem;
}
.jc-tu{
    width:2.58rem;
    height:6.1rem;
    margin: 0.5rem auto;
    overflow: hidden;
    position: relative;
}
.jc-tu li{
    width:2.58rem;
    height:6.1rem;
    position: absolute;
    left: 0;
    top: 0.2rem;
}
.jc-tu li img{
    width:100%;
    height:100%;
}
.jc-dian{
    width:2.4rem;
    height: 0.42rem;
    position: absolute;
    left: 2.45rem;
    top: 6.66rem;
}
.jc-dian li{
    width:0.42rem;
    height: 0.42rem;
    border-radius: 50%;
    float: left;
    margin-left: 0.15rem;
}
.jc-dian li:nth-child(1){
    background: #FA912B;
}
.jc-dian li:nth-child(2){
    background: #27D17B;
}
.jc-dian li:nth-child(3){
    background: #000;
}
.jc-dian li:nth-child(4){
    background: #23C4A8;
}
.jiaqian{
    width:1.35rem;
    height:0.3rem;
    font-size: 0.3rem;
    color: red;
    text-align: center;
    position: absolute;
    left: 3rem;
    top:7.3rem;
    z-index: 0.1;
    background: #fff;
}
.dibu{
    width:100%;
    height: 1rem;
    position: fixed;
    left: 0;
    bottom:0;
    background: #169354;
    z-index:3;
}
.db-1,.db-2,.db-3{
    width:33.3%;
    height: 1rem;
    float: left;
    color: #fff;
    position: relative;
    overflow: hidden;
    color: #fff;
}
.c-dian{
    width: 0.02rem;
    height:0.02rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #000;
    position: absolute;
    top:0;
    bottom: 0;
    left:-0.05rem;
    margin: auto;
}
.jc-china{
    width:1.2rem;
    height:0.25rem;
    position: absolute;
    left: 0.48rem;
    top:0.36rem;
    font-size: 0.25rem;
    text-align: center;
}
.jc-china1{
    width:1.4rem;
    height:0.3rem;
    position: absolute;
    left: 0.6rem;
    top:0.2rem;
    font-size: 0.3rem;
    text-align: center;
    display: none;
}
.jc-english{
    width:1.4rem;
    height:0.3rem;
    position: absolute;
    left: 0.6rem;
    top:0.54rem;
    font-size: 0.3rem;
    text-align: center;
    display: none;
}
.jc-js{
    width:6rem;
    height:0.84rem;
    position: fixed;
    bottom: 1.6rem;
    left: 0.75rem;
    border-radius: 0.5rem;
    background: #EBBD3F;
}

.jc-js p {
    padding-top: 0.05rem;
    font-size: 0.3rem;
    text-align: center;
    color: #fff;
}
