*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;
    background:#2a2e36;
}
header{
    width:100%;
    height:1.02rem;
    background:#169354;
    position:relative;
}
.back,.more{
    width:0.55rem;
    height:0.55rem;
    background:#22be6f;
    border-radius:50%;
    float:left;
    margin-top:0.24rem;
    margin-left:0.24rem;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
    position:relative;
}
.back img{
    width:0.39rem;
    height:0.39rem;
    position:absolute;
    top:0;bottom:0;
    right:0;left:0;
    margin:auto;
}
header .more{
    float:right;
    margin:0.24rem;
}
.more .dian{
    width:0.09rem;
    height:0.09rem;
    background:#fff;
    border-radius: 50%;
    float:left;
    margin-right:0.04rem;
    margin-top:0.23rem;
}
.more .dian:first-child{
    margin-left:0.1rem;
}
.head{
    width:100%;
    height:1.95rem;
    background:#169354;
    margin-top:-0.02rem;
}
.title{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:1.02rem;
}
.title .t1{
    color:#1f468d;
    font-family: "苹方 特粗";
    font-size: 0.3rem;
    text-align: center;
    margin-top:0.23rem;
    font-weight: bold;
}
.title .t2{
    color:#fff;
    font-family: "苹方 特粗";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
    position:absolute;
    top:0.23rem;
    left:0;right:0;
    margin:auto;
    margin-left:-0.08rem;
}
.title .t3{
    color:#1f468d;
    margin-top:-0.07rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
}
.title .t4{
    color:#fff;
    bottom:0.1rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
    position:absolute;
    left:0;right:0;
    margin:auto;
    margin-left:-0.08rem;
}
.card{
    width:5.74rem;
    height:3.07rem;
    background:#fff;
    border-radius: 0.08rem;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
    margin:0 auto;
    margin-top:-1.32rem;
    position:relative;
    overflow:hidden;
}
.card .bian{
    width:100%;
    height:0.05rem;
    background:#e9f611;
    position:absolute;
    top:0;left:0;
}
.cardt{
    margin-left:0.3rem;
    margin-top:0.56rem;
    height:0.4rem;
    position:relative;
}
.cname{
    color:#2e2e2e;
    font-weight: bold;
    font-family: "苹方 特粗";
    font-size: 0.26rem;
    position:absolute;
    top:-0.05rem;
    left:0.6rem;
}
.ename{
    color:#2e2e2e;
    font-family: "San Francisco Display";
    font-size: 0.24rem;
    position:absolute;
    left:1.7rem;top:0.03rem;
}
.cardt img{
    width:0.53rem;
    display:block;
}
.bq{
    width:0.96rem;
    height:0.42rem;
    border-radius: 0.3rem;
    background:#d6d6d6;
    position:absolute;
    top:0.3rem;right:0.4rem;
}
.bq .yuan1{
    width:0.3rem;
    height:0.3rem;
    border-radius: 50%;
    background:#e9f611;
    opacity: 0.9;
    position:absolute;
    top:0;bottom:0;left:0.07rem;
    margin:auto;
    z-index:2;
}
.bq .yuan2{
    background:#80439d;
    z-index: 1;
    left:0.2rem;
}
.bq .zizi{
    height:0.34rem;
    font-family: "苹方 特粗";
    font-size: 0.28rem;
    color:#8b8b8b;
    position:absolute;
    top:0;bottom:0;right:0.08rem;
    margin:auto;
    font-weight: bold;
}
.num{
    width:100%;
    text-align: center;
    font-family: "San Francisco Display";
    color:#2e2e2e;
    font-size: 0.3rem;
    font-weight: bold;
    margin-top:0.4rem;
}
.date{
    font-size: 0.18rem;
    color:#656565;
    font-family: "San Francisco Display";
    position:absolute;
    bottom:0.64rem;right:0.4rem;
}
.bg{
    width:100%;
    height:7.54rem;
    background:#f6f6f6;
    margin-top:1.1rem;
}
.btitle{
    font-family: "苹方 特粗";
    font-size: 0.3rem;
    font-weight: bold;
    color:#2e2e2e;
    padding-top:0.2rem;
    margin-left:0.2rem;
}
.btitle1{
    color:#373737;
    font-size: 0.24rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    margin-left:0.2rem;
}
.xian{
    width:7.02rem;
    height:0.02rem;
    background:#d2d2d2;
    margin:0 auto;
    margin-top:0.2rem;
}
form{
    width:5.74rem;
    margin:0 auto;
    margin-top:0.45rem;
    overflow: hidden;
}
.tb{
    width:0.55rem;
    height:0.55rem;
    border-radius: 50%;
    float:left;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
    margin-bottom:0.3rem;
}
.tb img{
    width:100%;
    height:100%;
    display:block;
}
.kuang{
    width:4.96rem;
    height:0.55rem;
    float:right;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
    background:#fff;
    border-radius: 0.3rem;
    position:relative;
    margin-bottom:0.3rem;
}
.kuang input{
    width:100%;
    height:100%;
    border:0;
    outline: none;
    position:absolute;
    left:0;top:0;
    border-radius: 0.3rem;
    font-family: "苹方 中等";
    color:#939191;
    font-size: 0.24rem;
    padding-left:0.3rem;
}
.btn{
    width:5.74rem;
    height:0.89rem;
    background:#169354;
    border-radius: 2rem;

    margin-top:4.38rem;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
}
.next{
    font-family: "苹方 特粗";
    font-size: 0.36rem;
    font-weight: bold;
    text-align: center;
    color:#fff;
    padding-top:0.1rem;}
.enext{
    margin-top:-0.1rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size:0.3rem;
    color:#fff;
    text-align: center;
}