*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-transform:none
}
a{
  text-decoration: none;
    color: #fff;
}
input{
    outline: none;
    border: none;
}
ul,li,ol{
    list-style: none;
}