header{
    width:100%;
    height:1.02rem;
    background:#169354;
    position:fixed;
    left: 0;
    top:0;
    z-index: 99999;
}
.back,.more{
    width:0.55rem;
    height:0.55rem;
    background:#22be6f;
    border-radius:50%;
    float:left;
    margin-top:0.24rem;
    margin-left:0.24rem;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
    position:relative;
}
.back img{
    width:0.39rem;
    height:0.39rem;
    position:absolute;
    top:0;bottom:0;
    right:0;left:0;
    margin:auto;
}
header .more{
    float:right;
    margin:0.24rem;
}
.more .dian{
    width:0.09rem;
    height:0.09rem;
    background:#fff;
    border-radius: 50%;
    float:left;
    margin-right:0.04rem;
    margin-top:0.23rem;
}
.more .dian:first-child{
    margin-left:0.1rem;
}
.title{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:1.02rem;
}
.title .t1{
    color:#1f468d;
    font-family: "苹方 特粗";
    font-size: 0.3rem;
    text-align: center;
    margin-top:0.23rem;
    font-weight: bold;
}
.title .t2{
    color:#fff;
    font-family: "苹方 特粗";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
    position:absolute;
    top:0.23rem;
    left:0;right:0;
    margin:auto;
    margin-left:-0.08rem;
}
.title .t3{
    color:#1f468d;
    margin-top:-0.07rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
}
.title .t4{
    color:#fff;
    bottom:0.1rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
    position:absolute;
    left:0;right:0;
    margin:auto;
    margin-left:-0.08rem;
}
.c-nei{
    width: 100%;
    height:auto;
    overflow: hidden;
}
.c-rong{
    width: 100%;
    height:auto;
    overflow: hidden;
}
.c-rong li a{
    position: relative;
    width: 100%;
    height:3.58rem;
    background-size: 100%;
    display: block;
}
.c-heng{
    width: 3.63rem;
    height:0.53rem;
    position: absolute;
    left: 0.71rem;
    top:0.88rem;
    z-index: 999;
    font-family: "苹方 特粗";
    font-size: 0.24rem;
    color: #fff;
    line-height: 0.53rem;
    padding-left: 0.2rem;
}
.c-heng1{
    width: 3.63rem;
    height:0.53rem;
    position: absolute;
    left: 3.19rem;
    top:0.99rem;
    font-family: "苹方 特粗";
    font-size: 0.24rem;
    color: #fff;
    line-height: 0.53rem;
    padding-left: 1.48rem;
}
.c-heng1 span{
    margin-left: 0.35rem;
}