*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;
    background:#2a2e36;
}
header{
    width:100%;
    height:1.02rem;
    background:#169354;
    position:relative;
}
.back,.more{
    width:0.55rem;
    height:0.55rem;
    background:#22be6f;
    border-radius:50%;
    float:left;
    margin-top:0.24rem;
    margin-left:0.24rem;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
    position:relative;
}
.back img{
    width:0.39rem;
    height:0.39rem;
    position:absolute;
    top:0;bottom:0;
    right:0;left:0;
    margin:auto;
}
header .more{
    float:right;
    margin:0.24rem;
}
.more .dian{
    width:0.09rem;
    height:0.09rem;
    background:#fff;
    border-radius: 50%;
    float:left;
    margin-right:0.04rem;
    margin-top:0.23rem;
}
.more .dian:first-child{
    margin-left:0.1rem;
}
.title{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:1.02rem;
}
.title .t1{
    color:#1f468d;
    font-family: "苹方 特粗";
    font-size: 0.3rem;
    text-align: center;
    margin-top:0.23rem;
    font-weight: bold;
}
.title .t2{
    color:#fff;
    font-family: "苹方 特粗";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
    position:absolute;
    top:0.23rem;
    left:0;right:0;
    margin:auto;
    margin-left:-0.08rem;
}
.title .t3{
    color:#1f468d;
    margin-top:-0.07rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
}
.title .t4{
    color:#fff;
    bottom:0.1rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size: 0.3rem;
    text-align: center;
    position:absolute;
    left:0;right:0;
    margin:auto;
    margin-left:-0.08rem;
}
.main{
    width:100%;
    height:9.84rem;
    margin-top:0.68rem;
    overflow:hidden;
    position:relative;
}
.rongqi{
    width:18.9rem;
    height:9.84rem;
    overflow:hidden;
}
.main .lunbo{
    display:block;
    height:9.06rem;
    width:5.4rem;
    float:left;
    border-radius: 0.18rem;
    margin-right:0.39rem;
    margin-top:0.39rem;
}
.main .lunbo:first-child{
    width:6.23rem;
    height:9.84rem;
    margin-left:0.63rem;
    margin-top:0rem;
}
.biaoqian{
    width:6.23rem;
    height:3.4rem;
    background:#fff;
    position:absolute;
    left:0;right:0;
    bottom:0;
    margin:auto;
    border-radius: 0.18rem;
    padding-left:0.44rem;
    padding-right:0.44rem;
}
.btitle{
    color:#f94730;
    font-weight: bold;
    font-family: "苹方 特粗";
    font-size: 0.36rem;
    margin-top:0.4rem;
}
.caizhi{
    float:left;
    color:#595757;
    font-weight: bold;
    font-family: "苹方 特粗";
    font-size: 0.3rem;
}
.dengji{
    float:right;
    color:yellow;
    font-size: 0.24rem;
}
.clear{
    clear:both;
}
.like{
    height:0.42rem;
    width:1.92rem;
    float:right;
    margin-top:0.3rem;
}
.num{
    float:right;
    font-size: 0.28rem;
    font-weight: bold;
    color:#595757;
    font-family:"San Francisco Display";
    margin-left:0.4rem;
}
.touxiang{
    float:right;
    width:0.42rem;
    height:0.42rem;
    border-radius: 50%;
    background:#2a2e36;
    border:0.04rem solid #fff;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
    margin-right:-0.2rem;
}
.lunbodian{
    width:0.76rem;
    height:0.14rem;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:0.4rem;
}
.lunbodian .dian{
    width:0.08rem;
    height:0.08rem;
    border-radius: 50%;
    margin-left:0.12rem;
    background:#fff;
}
.lunbodian .dian:first-child{
    width:0.14rem;
    height:0.14rem;
    margin-left:0;
}
.btn{
    position:relative;
    z-index: 33;
    width:3.72rem;
    height:0.91rem;
    background:#169354;
    border-radius: 2rem;
    margin:0 auto;
    margin-top:-0.38rem;
    box-shadow: 0 0.06rem 0.12rem -0.04rem rgba(0, 0, 0, 0.176);
}
.next{
    font-family: "苹方 特粗";
    font-size: 0.36rem;
    font-weight: bold;
    text-align: center;
    color:#fff;
    padding-top:0.1rem;}
.enext{
    margin-top:-0.1rem;
    font-family: "San Francisco Display";
    font-weight: bold;
    font-size:0.3rem;
    color:#fff;
    text-align: center;
}