<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
    <title>Document</title>
</head>
<body style="padding:15px;">
<table class="table table-striped">
    <tr>
        <th>用户名</th>
        <th>昵称</th>
        <th>头像</th>
        <th>联系方式</th>
        <th>地址</th>
        <th>操作</th>
    </tr>
    {foreach $user as $v}
    <tr>
        <td>{$v['mname']}</td>
        <td>{$v['nicheng']}</td>
        <td><img src="{$v['photo']}" width="200" alt=""></td>
        <td>{$v['phone']}</td>
        <td>{$v['address']}</td>
        <td><a href="index.php?m=admin&f=user&a=del&mid={$v['mid']}">删除</a> <a href="index.php?m=admin&f=user&a=update&mid={$v['mid']}">编辑</a></td>
    </tr>
    {/foreach}
</table>

</body>
</html>